body
  {
    font-size: 14px;
}
/* Top banner of site*/
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}
/* header of the website*/
h1 {
  font-size: 2em;
  font-family: sans-serif;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

.h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
/* Additional styling for 3 divs in index.html for assignment.*/

.element-tryout {
  background-color: blue;
}

.element-tryout2 {
  background-color: red;
}

.element-tryout3 {
  background-color: pink;
}
